<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/forgettenPassword.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <title>Reset password</title>
    
</head>
<body>
    <div class="register__con">
        <div class="container">
            <form id="form" method="post" action="">
        
                <h1 id="h1">Reset Password</h1>
        
                {{ form.csrf_token }}
        
                <div class="input-control">
        
                    <div class="text">
        
                        {{ form.emailOTP.label }}
        
                    </div>
        
                    {{ form.emailOTP }}
        
                </div>
        
                <div class="input-control">
        
                    <div class="text">
        
                        {{ form.newPassword.label }}
        
                    </div>
        
                    {{ form.newPassword }}
        
                </div>
                {% for errors in form.newPassword.errors %}
                {{ errors }}
                {% endfor %}
        
                <div class="input-control">
        
                    <div class="text">
        
                        {{ form.confirmPass.label }}
        
                    </div>
        
                    {{ form.confirmPass }}
        
                </div>
                {% for errors in form.confirmPass.errors %}
                {{ errors }}
                {% endfor %}

                {{ form.reset(class="signup") }}
        
            </form>

            <a href="{{ url_for('register') }}" class="navbar-item">Create account</a>
            <a href="{{ url_for('login') }}" class="navbar-item">login</a>
            
        </div>
    </div>
</body>
</html>