<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='scripts/index.js') }}"></script>

    <title>Halted</title>
</head>
<body>
        
    <div class="container ">

        <div class="parentDiv">
        
            <img src="{{ url_for('static', filename='images/stop.png') }}">
        
        </div>

    <button class="btnn" id="toggleBtn">ON</button>
</div>   

</body>
</html>