<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    <form method="post" action="">
        {{ form.csrf_token }}

        {{ form.email.label }}:<br>
        {{ form.email }}<br><br>

        {{ form.password.label }}:<br>
        {{ form.password }}

        <ul>
            {% for errors in form.password.errors %}
                <li style="color:red;">{{ errors }}</li>
            {% endfor %}
        </ul>

        {{ form.reg(class="signup") }}
    </form>
    <a href="{{ url_for('register') }}" class="navbar-item">Signup</a>
    <a href="{{ url_for('forgetPassword') }}" class="navbar-item">reset password</a>
</body>
</html>
