<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/modal.css"/>
        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
        <script defer src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        <script defer src="{{ url_for('static', filename='scripts/role.js') }}"></script>
        <script defer src="{{ url_for('static', filename='scripts/modal.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

        <title>Halted</title>
    </head>
    <body>
        <div id="loading-screen">
            <!-- <div class="spinner"></div> -->
            <div class="ring">Loading...</div>
        </div>

        <div id="content" style="display:none;">
            <header>
                <nav>
                    <a href="{{ url_for('logout') }}" class="navbar-item" id="logout">Logout</a>
                    <a href="{{ url_for('forgetPassword') }}" class="navbar-item">Settings</a>
                    <a href="" class="navbar-item" id="users">Users</a>
                </nav>
            </header>

            <div class="container">
                <div class="parentDiv">
                    <div id="online">ESP32 IS OFFLINE</div>
                    <img src="{{ url_for('static', filename='images/fan.png') }}" class="rotate" id="rotate-image">
                </div>

                <div class="btn-container">
                    <button class="btn" id="toggleBtn">TURN ON</button>
                </div>
            </div>
        </div>

        <div id="user-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Registered Users</h2>
                <div class="search-container">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" placeholder="Search for users..." id="user-search">
                </div>
                <style>
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                
                    .dropdown-content {
                        /* display: none;
                        position: absolute;
                        z-index: 1;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        padding: 12px 16px;
                        margin-top: -2px;
                        left: 0; */

                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 100%;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        padding: 12px 16px;
                        margin-top: 4px;
                        left: 0;
                        white-space: nowrap;
                    }
                
                    .user-row:hover .dropdown-content {
                        display: block;
                    }
                </style>
                <table class="user-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in form %}
                        <tr class="user-row">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="dropdown">
                                    {{ user.role }}
                                    <!-- <span class="role-text">{{ user.role }}</span> -->
                                    <div class="dropdown-content">
                                        {% if user.role == "admin" %}
                                            <a href="#" class="message">Demote admin</a>
                                        {% elif user.role == "user" %}
                                            <a href="#" class="message">Promote admin</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                

                <!-- <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in form %}
                        <tr class="dropdown">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {{ user.role }}
                                <div class="dropdown-content">
                                    {% if user.role == "admin" %}
                                        <a href="#" class="message">Demote admin</a>
                                    {% elif user.role == "user" %}
                                        <a href="#" class="message">Promote admin</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
                

                <!-- <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <div class="dropdown">
                    <tbody>
                        <div class="dropdown">
                        {% for user in form %}
                        <tr>
                            <td class="id">{{ user.id }}</td>
                            <td class="username">{{ user.username }}</td>
                            <td class="email">{{ user.email }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn">{{ user.role }}</button>
                                    {{ user.role }}
                                    <div class="dropdown-content">
                                        {% if user.role == "admin" %}
                                            <a href="#" class="message">Demote admin</a>
                                        {% elif user.role == "user" %}
                                            <a href="#" class="message">promote admin</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </div>
                    </tbody>
                     </div>
                </table>           -->
            </div>
        </div>


        <!-- Confirmation modal -->
        <div id="confirmModal" class="modal">
            <div class="modal-content">
            <span class="close">&times;</span>
            <!-- Confirmation modal content here -->
            <h2>Confirm action</h2>
            <p>Do you want to continue?</p>
            <button class="cancel-button">Cancel</button>
            <button class="save-button">Save</button>
            </div>
        </div>
      
    </body>
</html>